<footer>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <p>API utilisée <a href="https://darksky.net">Darsky.net</a></p>
                    <p>API utilisée <a href="https://www.openstreetmap.org/">OSM</a></p>
                </li>
            </ul>
        </div>
    </nav>
</footer>
