<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> {% block title %} {{title}} {% endblock %} </title>

    {% block stylesheets %} 
        <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    {% endblock %}
</head>

